body {
    font-family: monospace;
    background: rgb(131, 192, 245);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    margin-top: 30px;
    background: #b5a4a4;
    padding: 30px;
    width: 280px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(59, 57, 57, 0.52);
    display: flex;
    flex-direction: column;
    transition: 0.43s;
}
.container:hover{
  transform: scale(1.03);
}
h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}
.name {
    margin-top: 2px;
    height: 40px;
    width: 270px;
    border: solid 1px rgb(192, 192, 191);
    border-radius: 10px;
}
.email {
    margin-top: 2px;
    height: 40px;
    width: 270px;
    border: solid 1px rgb(192, 192, 191);
    border-radius: 10px;
}
.password {
    margin-top: 2px;
    height: 40px;
    width: 270px;
    border: solid 1px rgb(192, 192, 191);
    border-radius: 10px;
}

input:focus {
  border-color:blue;
  outline: none;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.submit{
    height: 40px;
    width: 125px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: solid white 1px;
}
.submit:hover{
    background-color: rgb(10, 35, 10);
}

.reset{
    height: 40px;
    width: 125px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: solid white 1px;
}
.reset:hover{
    background-color: rgb(78, 14, 14);
}
.saveData {


    margin-top: 10px;
  padding: 5px 10px;
  background: #f0f0f0;
  border-radius: 10px;
    
  overflow-wrap: break-word;
  

}
.saveData:empty {
  display: none;
}
.saveData h3 {
    justify-self: center;
    font-size: 15px; 
    margin: 3px;
   padding: 0px;


}
.saveData p{
       font-size: 12px; 
    margin: 3px;
   padding: 0px;
}

.error{
    color: red;
}
