body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    background-color: blue;
    color: white;
    padding: 5px;
    padding-left: 20px;
}
navbar{
    display: flex;
    gap: 40px;
    margin-right: 30px;
}
li{
    list-style: none;
   
}
a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 50px;
}