body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 5px;
    padding-left: 20px;

}

navbar {
    display: flex;
    gap: 40px;
    margin-right: 30px;
}

li {
    list-style: none;

}

a {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: aliceblue;
    color: black;
    border-radius: 50px;
}


.conatainer1 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.SignUpForm {
    height: auto;
    width: 30%;
    box-shadow: 0 10px 30px rgba(103, 93, 93, 0.52);
    border-radius: 12px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    height: auto;
    width: 50%;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(103, 93, 93, 0.52);
    border-radius: 12px;

}

.content1 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.content2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.content3 {
    font-size: medium;
}

.content5 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.content4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.name,
.email,
.password {
    margin-top: 2px;
    height: 30px;
    width: 270px;
    border: solid 1px rgb(192, 192, 191);
    border-radius: 10px;
}

.age {
    margin-top: 2px;
    height: 30px;
    width: 120px;
    border: solid 1px rgb(192, 192, 191);
    border-radius: 10px;
}

.Rowitem {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gender {
    margin-top: 5px;
}

label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    margin-top: 2px;
    height: 30px;
    width: 270px;
    border: solid 1px rgb(192, 192, 191);
    border-radius: 10px;
}

textarea:focus {
    border-color: blue;
    outline: none;
}

input:focus {
    border-color: blue;
    outline: none;
}


.submit {
    height: 40px;
    width: 125px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: solid white 1px;
}

.submit:hover {
    background-color: rgb(10, 35, 10);
}

.reset {
    height: 40px;
    width: 125px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: solid white 1px;
}

.reset:hover {
    background-color: rgb(78, 14, 14);
}

.display button {
    height: 40px;
    width: 250px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: solid white 1px;
}

.display button:hover {
    background-color: rgb(103, 103, 216);
    color: black;
}

.saveData {


    margin-top: 10px;
    padding: 5px 10px;
    background: #f0f0f0;
    border-radius: 10px;

    overflow-wrap: break-word;
}

.saveData:empty {
    display: none;
}

.saveData h3 {
    justify-self: center;
    font-size: 15px;
    margin: 3px;
    padding: 0px;
}

.saveData p {
    font-size: 10px;

}

.condition {
    margin-right: 7rem;
}

.error {
    margin: 5px;
    color: red;
    font-size: 10px;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.Footer1 {
    height: 130px;
    width: 300px;
}

ul li {
    font-size: medium;
    margin-left: 0;
}

.h3 {
    margin-left: 20px;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 12px;
    margin-left: 20px;
}

.footermain {
    height: 40vh;
    background-color: rgb(72, 57, 57);
}
.endline{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}